---
title: "XinYaanZyoy"
layout: default
permalink: "/author-xinyaanzyoy.html"
---

<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <div class="row align-items-center mb-5">
            <div class="col-md-9">
                <h2 class="font-weight-bold">{{page.title}} <span class="small btn btn-outline-success btn-sm btn-round"><a href="{{ site.authors.XinYaanZyoy.twitter }}">Follow</a></span></h2>
                <div>
                    {% if site.authors.XinYaanZyoy.site %}
                    <a target="_blank" href="{{ site.authors.XinYaanZyoy.site }}"><i class="fa fa-globe text-muted" aria-hidden="true"></i></a> &nbsp;
                    {% endif %}

                    {% if site.authors.XinYaanZyoy.twitter %}
                    <a target="_blank" href="{{ site.authors.XinYaanZyoy.twitter }}"><i class="fab fa-twitter text-muted" aria-hidden="true"></i></a>  &nbsp;
                    {% endif %}

                    {% if site.authors.XinYaanZyoy.github %}
                    <a target="_blank" href="{{ site.authors.XinYaanZyoy.github }}"><i class="fab fa-github text-muted" aria-hidden="true"></i></a>  &nbsp;                
                    {% endif %}

                    {% if site.authors.XinYaanZyoy.facebook %}
                    <a target="_blank" href="{{ site.authors.XinYaanZyoy.facebook }}"><i class="fab fa-facebook text-muted" aria-hidden="true"></i></a>  &nbsp;                
                    {% endif %}

                    {% if site.authors.XinYaanZyoy.youtube %}
                    <a target="_blank" href="{{ site.authors.XinYaanZyoy.youtube }}"><i class="fab fa-youtube text-muted" aria-hidden="true"></i></a>  &nbsp;                                
                    {% endif %}

                    {% if site.authors.XinYaanZyoy.instagram %}
                    <a target="_blank" href="{{ site.authors.XinYaanZyoy.instagram }}"><i class="fab fa-instagram text-muted" aria-hidden="true"></i></a>  &nbsp;
                    {% endif %}
                    
                    {% if site.authors.XinYaanZyoy.spotify %}
                    <a target="_blank" href="{{ site.authors.XinYaanZyoy.spotify }}"><i class="fab fa-spotify text-muted" aria-hidden="true"></i></a>  &nbsp;
                    {% endif %}

                    {% if site.authors.XinYaanZyoy.linkedIn %}
                    <a target="_blank" href="{{ site.authors.XinYaanZyoy.linkedIn }}"><i class="fab fa-linkedin text-muted" aria-hidden="true"></i></a>  &nbsp;
                    {% endif %}
                    
                    {% if site.authors.XinYaanZyoy.messenger %}
                    <a target="_blank" href="{{ site.authors.XinYaanZyoy.messenger }}"><i class="fab fa-facebook-messenger text-muted" aria-hidden="true"></i></a>  &nbsp;
                    {% endif %}
                    
                    {% if site.authors.XinYaanZyoy.whatsapp %}
                    <a href="https://api.whatsapp.com/send?phone={{ site.authors.XinYaanZyoy.whatsapp }}"><i class="fab fa-whatsapp text-muted" aria-hidden="true"></i></a>
                    {% endif %}
                    
                    {% if site.authors.XinYaanZyoy.email %}
                    <a target="_top" href="mailto:{{ site.authors.XinYaanZyoy.email }}"><i class="fab fa-email text-muted" aria-hidden="true"></i></a>  &nbsp;
                    {% endif %}
                </div>
                <p class="excerpt">{{ site.authors.XinYaanZyoy.bio }}</p>
            </div>
            <div class="col-md-3 text-right">
                <img alt="{{ site.authors.XinYaanZyoy.name }}" src="{{site.baseurl}}/{{ site.authors.XinYaanZyoy.avatar }}" class="rounded-circle" height="100" width="100">
            </div>
        </div>
        <h4 class="font-weight-bold spanborder"><span>Posts by {{page.title}}</span></h4>
            {% assign posts = site.posts | where:"author","XinYaanZyoy" %}
            {% for post in posts %}
            {% include main-loop-card.html %}
            {% endfor %}
    </div>
</div>
</div>
