---
title: "Astronomy"
layout: default
permalink: "/team-astronomy.html"
---

<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <div class="row align-items-center mb-5">
            <div class="col-md-9">
                <h2 class="font-weight-bold">{{page.title}} <span class="small btn btn-outline-success btn-sm btn-round"><a href="{{ site.teams.Astro.contact }}">Contact</a></span></h2>
                <p class="excerpt">{{ site.teams.Astro.details }}</p>
            </div>
            <div class="col-md-3 text-right">
                <img alt="{{ site.teams.Astro.name }}" src="{{site.baseurl}}/{{ site.teams.Astro.avatar }}" class="rounded-circle" height="100" width="100">
            </div>
        </div>
        <div class="container">
          <div class="row gap-y listrecent listrecent listauthor">
            {% for member in site.teams.Astro.members %}
            <div class="col-lg-6 mb-4">
            <div class="p-4 border rounded">
            <div class="row">
            <div class="col-md-3 mb-4 mb-md-0"><img alt="{{ members.{{member}}.name }}" src="{{site.baseurl}}/{{ members.{{member}}.avatar }}" class="rounded-circle" height="80" width="80"></div>
            <div class="col-md-9">
            <a href="{{site.baseurl}}/member-{{ members.{{member}}.name | slugify }}">
            <h4 class="text-dark mb-0"> {{ members.{{member}}.name }} </h4>
            <small class="d-inline-block mt-1 mb-3 font-weight-normal">(Biography)</small>
            <div class="excerpt">{{ members.{{member}}.bio }}</div>
            </a>
            <div class="icon-block mt-3 d-flex justify-content-between">  
            <div>
                {% if members.{{member}}.site %}
                <a target="_blank" href="{{ members.{{member}}.site }}"><i class="fa fa-globe text-muted" aria-hidden="true"></i></a> &nbsp;
                {% endif %}

                {% if members.{{member}}.twitter %}
                <a target="_blank" href="{{ members.{{member}}.twitter }}"><i class="fab fa-twitter text-muted" aria-hidden="true"></i></a>  &nbsp;
                {% endif %}

                {% if members.{{member}}.github %}
                <a target="_blank" href="{{ members.{{member}}.github }}"><i class="fab fa-github text-muted" aria-hidden="true"></i></a>  &nbsp;                
                {% endif %}

                {% if members.{{member}}.facebook %}
                <a target="_blank" href="{{ author[1].facebook }}"><i class="fab fa-facebook text-muted" aria-hidden="true"></i></a>  &nbsp;                
                {% endif %}

                {% if members.{{member}}.youtube %}
                <a target="_blank" href="{{ members.{{member}}.youtube }}"><i class="fab fa-youtube text-muted" aria-hidden="true"></i></a>  &nbsp;                                
                {% endif %}

                {% if members.{{member}}.instagram %}
                <a target="_blank" href="{{ members.{{member}}.instagram }}"><i class="fab fa-instagram text-muted" aria-hidden="true"></i></a>  &nbsp;
                {% endif %}
                
            </div>
            </div>
            </div>
            </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
    </div>
</div>
</div>
