---
title: "Team"
layout: default
permalink: "/team.html"
---

<div class="container">
<h4 class="font-weight-bold spanborder"><span>{{page.title}}</span></h4>
    <div class="row gap-y listrecent listrecent listauthor">
        
        {% for author in site.authors %}
        <div class="col-lg-6 mb-4">
            <div class="p-4 border rounded">
            <div class="row">
            <div class="col-md-3 mb-4 mb-md-0"><img alt="{{ author[1].name }}" src="{{site.baseurl}}/{{ author[1].avatar }}" class="rounded-circle ASTpropic" height="160" width="160"></div>
            <div class="col-md-9">
            <a href="{{site.baseurl}}/author-{{ author[1].name | slugify }}">
            <h4 class="text-dark mb-0"> {{ author[1].name }} </h4>
            <small class="d-inline-block mt-1 mb-3 font-weight-normal">(View Posts)</small>
            <div class="excerpt">{{ author[1].bio }}</div>
            </a>
            <div class="icon-block mt-3 d-flex justify-content-between">  
            <div>
                {% if author[1].site %}
                <a target="_blank" href="{{ author[1].site }}"><i class="fa fa-globe text-muted" aria-hidden="true"></i></a> &nbsp;
                {% endif %}

                {% if author[1].twitter %}
                <a target="_blank" href="{{ author[1].twitter }}"><i class="fab fa-twitter text-muted" aria-hidden="true"></i></a>  &nbsp;
                {% endif %}

                {% if author[1].github %}
                <a target="_blank" href="{{ author[1].github }}"><i class="fab fa-github text-muted" aria-hidden="true"></i></a>  &nbsp;                
                {% endif %}

                {% if author[1].facebook %}
                <a target="_blank" href="{{ author[1].facebook }}"><i class="fab fa-facebook text-muted" aria-hidden="true"></i></a>  &nbsp;                
                {% endif %}

                {% if author[1].youtube %}
                <a target="_blank" href="{{ author[1].youtube }}"><i class="fab fa-youtube text-muted" aria-hidden="true"></i></a>  &nbsp;                                
                {% endif %}

                {% if author[1].instagram %}
                <a target="_blank" href="{{ author[1].instagram }}"><i class="fab fa-instagram text-muted" aria-hidden="true"></i></a>  &nbsp;
                {% endif %}
                
                {% if author[1].spotify %}
                    <a target="_blank" href="{{ author[1].spotify }}"><i class="fab fa-spotify text-muted" aria-hidden="true"></i></a>  &nbsp;
                {% endif %}

                {% if author[1].linkedIn %}
                <a target="_blank" href="{{ author[1].linkedIn }}"><i class="fab fa-linkedin text-muted" aria-hidden="true"></i></a>  &nbsp;
                {% endif %}
                
                {% if author[1].messenger %}
                <a target="_blank" href="{{ author[1].messenger }}"><i class="fab fa-facebook-messenger text-muted" aria-hidden="true"></i></a>  &nbsp;
                {% endif %}
                    
                {% if author[1].whatsapp %}
                <a target="_blank" href="https://api.whatsapp.com/send?phone={{ author[1].whatsapp }}"><i class="fab fa-whatsapp text-muted" aria-hidden="true"></i></a> &nbsp;
                {% endif %}

                {% if author[1].email %}
                <a target="_top" href="mailto:{{ author[1].email }}"><i class="fa fa-envelope text-muted" aria-hidden="true"></i></a>  &nbsp;
                {% endif %}
                
            </div>
            </div>
            </div>
            </div>
            </div>
        </div>
    {% endfor %}
        
    {% for team in site.teams %}
        <div class="col-lg-6 mb-4">
            <div class="p-4 border rounded">
            <div class="row">
            <div class="col-md-3 mb-4 mb-md-0"><img alt="{{ team[1].name }}" src="{{site.baseurl}}/{{ team[1].avatar }}" class="rounded-circle ASTpropic" height="160" width="160"></div>
            <div class="col-md-9">
            <a href="{{site.baseurl}}/team-{{ team[1].name | slugify }}">
            <h4 class="text-dark mb-0"> {{ team[1].name }} </h4>
            <small class="d-inline-block mt-1 mb-3 font-weight-normal">(View Team Members)</small>
            <div class="excerpt">{{ team[1].bio }}</div>
            </a>
            </div>
            </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
