<h5 class="mb-3">AstroSpaceTech</h5>

<img src="../assets//images/logo.png" />

<p>
AstroSpaceTech is an international platform for various STEM students mainly focus on Astronomy, Aerospace engineering and Technology.
<br/> 
Our goal: To give best gateway for the humanity, to bring down space objects on the Earth, build our own rockets and contribute our innovative ideas for the development of human civilization.
<br/>
Our Vision:The future is in the Stars. Are you with us?
</p>
<p><b>"Somewhere, something incredible is waiting to be known"<br />- Carl Sagan</b></p>

<a target="_blank" href="/SubmitApplication" class="btn btn-success d-block mb-2"><i class="fa fa-pen"></i> Become a member of AST </a>

<a target="_blank" class="btn btn-success d-block" href="https://astrospacetech.us4.list-manage.com/subscribe/post?u=3f09cf1bc456c7a0f07406116&id=db468df3cc"><i class="fa fa-users"></i> Subscribe to AST mailing list </a> 
