<h5 class="mb-3">AstroSpaceTech</h5>

<img src="../assets//images/logo.png" />

<p>AstroSpaceTech is an international platform for various STEM students mainly focus only on Astronomy, Aerospace engineering and Technology.The goal is to give best gateway for the next humanity, brings down space objects on Earth, build our own rockets and contribute our innovator ideas for the development of human civilization.Currently, we are doing research on our domains and exchanging our ideas through online platform.</p>
<p><b>"Somewhere, something incredible is waiting to be known"<br />- Carl Sagan</b></p>

<a target="_blank" href="/SubmitApplication" class="btn btn-success d-block mb-2"><i class="fa fa-pen"></i> Become a member of AST </a>

<a target="_blank" class="btn btn-success d-block" href="https://astrospacetech.us4.list-manage.com/subscribe/post?u=3f09cf1bc456c7a0f07406116&id=db468df3cc"><i class="fa fa-users"></i> Subscribe to AST mailing list </a> 
